<div 
*ngIf="!preload"
class="ps-section--default ps-customer-bought">

    <div class="ps-section__header">

        <h3>Customers who bought this item also bought</h3>

    </div>

    <div class="ps-section__content">

        <div class="row">

            <div 
			 *ngFor="let product of products; let i = index; let lastIndex = last"
            class="col-lg-2 col-md-4 col-6 ">

                <div class="ps-product">

                   <div class="ps-product__thumbnail">

		            	<a href="product/{{product.url}}">
		            		<img src="{{path}}img/products/{{product.category}}/{{product.image}}" alt="{{product.name}}">
		            	</a>

		                <div [innerHTML]="price[i][1]"></div>

		                <ul class="ps-product__actions">

		                    <li>
		                    	<a style="cursor:pointer" (click)="addShoppingCart(product.url, 1, [])" data-toggle="tooltip" data-placement="top" title="Add to Cart">
		                        	<i class="icon-bag2"></i>
		                        </a>
		                    </li>

		                    <li>
		                    	<a href="product/{{product.url}}" data-toggle="tooltip" data-placement="top" title="Quick View">
		                    		<i class="icon-eye"></i>
		                    	</a>
		                    </li>

		                    <li>
		                    	<a  style="cursor:pointer" (click)="addWishlist(product.url)" data-toggle="tooltip" data-placement="top" title="Add to Whishlist">
		                    		<i class="icon-heart"></i>
		                    	</a>
		                    </li>

		                </ul>

		            </div>

		            <div class="ps-product__container">

		            	<a class="ps-product__vendor" href="#">{{product.store}}</a>

		                <div class="ps-product__content">

		                	<a class="ps-product__title" href="product/{{product.url}}">{{product.name}}</a>

		                    <div class="ps-product__rating">

		                        <select class="ps-rating" data-read-only="true">

		                            <option 
		                            *ngFor="let review of reviews[i]; let f = index"
		                            [value]="review">{{f+1}}</option>

		                        </select>

		                        <span>{{rating[i]}}</span>

		                    </div>

		                     <div [innerHTML]="price[i][0]"></div>

		                </div>

		                <div class="ps-product__content hover">

		                	<a class="ps-product__title" href="product/{{product.url}}">{{product.name}}</a>

		                    <div [innerHTML]="price[i][0]"></div>

		                </div>

		            </div>

		        {{lastIndex ? callback() : ""}}

                </div>

            </div>

  
        </div>

    </div>

</div><!--  End Customers who bought -->

<!--=====================================
Preload
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>
