<!--=====================================
	Header Mobile
	======================================-->

    <header class="header header--mobile" data-sticky="true">

        <div class="header__top">

            <div class="header__left">

                <ul class="d-flex justify-content-center">
					<li><a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>					
					<li><a href="#" target="_blank"><i class="fab fa-twitter mr-4"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-youtube mr-4"></i></a></li>
				</ul>
            </div>

            <div class="header__right">

                <ul class="navigation__extra">
                    
                    <li><a routerLink="become-a-vendor">Sell on MarketPlace</a></li>
                    <li><a routerLink="store-list">Store List</a></li>
                    <li><i class="icon-telephone"></i> Hotline:<strong> 1-800-234-5678</strong></li>    
                    <li
                    *ngIf="!lang"
                    >
                        <div class="ps-dropdown language">
                            <a style="cursor:pointer" (click)="changeLang('en')">
                                <img src="{{path}}img/template/en.png" alt="">
                                English
                            </a>
                            <ul class="ps-dropdown-menu">
                                <li>
                                    <a style="cursor:pointer" (click)="changeLang('es')">
                                        <img src="{{path}}img/template/es.png" alt=""> 
                                        Spanish
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li
                    *ngIf="lang"
                    >
                        <div class="ps-dropdown language">
                            <a style="cursor:pointer" (click)="changeLang('es')">
                                <img src="{{path}}img/template/es.png" alt=""> 
                                Spanish
                            </a>
                            <ul class="ps-dropdown-menu">
                                <li>
                                    <a style="cursor:pointer" (click)="changeLang('en')">
                                       <img src="{{path}}img/template/en.png" alt="">
                                        English
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>

            </div>

        </div>

        <div class="navigation--mobile">

            <div class="navigation__left">

        	  	<!--=====================================
				Menu Mobile
				======================================-->

                <div class="menu--product-categories">
                    
                    <div class="ps-shop__filter-mb mt-4" id="filter-sidebar">
                    	<i class="icon-menu "></i>
                    </div>

	            	<div class="ps-filter--sidebar">

					    <div class="ps-filter__header">
					        <h3>Categories</h3><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
					    </div>

					    <div class="ps-filter__content">

					        <aside class="widget widget_shop">

					            <ul class="ps-list--categories">
					               
					                <li 
									*ngFor="let category of categories; let lastIndex = last"
					                class="current-menu-item menu-item-has-children">

					                	<a routerLink="products/{{category.url}}"><strong>{{category.name}}</strong></a>

					                	<span class="sub-toggle">
					                		<i class="fa fa-angle-down"></i>
					                	</span>

					                    <ul class="sub-menu" [attr.category]="category.name">

					                    </ul>

					                {{ lastIndex ? callback() : "" }}

					                </li>
    
					            </ul>

					        </aside>   

					    </div>

					</div>        

                </div><!-- End menu-->

            	<a class="ps-logo pl-3 pl-sm-5" routerLink="/">
            		<img src="{{path}}img/template/logo_light.png" class="pt-3" alt="">
            	</a>

            </div>

            <div class="navigation__right">

                <div class="header__actions">

                	<!--=====================================
                    Cart
                    ======================================-->

                    <div class="ps-cart--mini">

                        <a class="header__extra" routerLink="shopping-cart">
                            <i class="icon-bag2"></i><span><i>{{totalShoppingCart}}</i></span>
                        </a>

                        <div 
                        *ngIf="shoppingCart.length > 0"
                        class="ps-cart__content">

                            <div class="ps-cart__items">

                                <div 
                                *ngFor="let product of shoppingCart; let lastShopping = last"
                                class="ps-product--cart-mobile">

                                    <div class="ps-product__thumbnail">
                                        <a href="product/{{product.url}}">
                                            <img src="{{path}}img/products/{{product.category}}/{{product.image}}" >
                                        </a>
                                    </div>

                                    <div class="ps-product__content text-left">
                                        <a class="ps-product__remove" style="cursor:pointer" (click)="removeProduct(product.url, product.listDetails)">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product/{{product.url}}">{{product.name}}</a>
                                        
                                        <div [innerHTML]="product.details"></div>                                        
                                        <small class="ps-product text-left p-0 m-0">
                                            
                                            Quantity:
                                            <span class="qShoppingHeaderM">{{product.quantity}}</span> 
                                            x Shipping: $
                                            <span class="sShoppingHeaderM">{{product.shipping}}</span> 
                                            + 
                                            <span class="pShoppingHeaderM" [innerHTML]="product.price"></span>

                                        </small>
                                    </div>

                                {{ lastShopping ? callbackShopping() : ""}}

                                </div>


                            </div>

                            <div class="ps-cart__footer">

                                <div [innerHTML]="subTotal"></div>
                                <figure>
                                    <a class="ps-btn" href="shopping-cart">View Cart</a>
                                    <a class="ps-btn" href="checkout">Checkout</a>
                                </figure>

                            </div>

                        </div>

                    </div>

                    <!--=====================================
					Login and Register
					======================================-->

                    <div 
                    *ngIf="!authValidate"
                    class="ps-block--user-header">

                        <div class="ps-block__left">
                        	<a routerLink="login"><i class="icon-user"></i></a>
                        </div>

                        <div class="ps-block__right">
                        	<a routerLink="login">Login</a>
                            <a routerLink="register">Register</a>
                        </div>

                    </div>

                     <!--=====================================
                     Go to Account
                    ======================================-->

                    <div 
                     *ngIf="authValidate"
                    class="ps-block--user-header">
                        <div class="ps-block__left text-right">
                            <a routerLink="account">
                                <div [innerHTML]="picture" style="width:40px"></div>
                            </a>            
                        </div>
                        <div class="ps-block__right">
                            <a routerLink="account">My Account</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--=====================================
		Search
		======================================-->

        <div class="ps-search--mobile">

            <form class="ps-form--search-mobile">
                <div class="form-group--nest">
                    
                    <input 
                    (keyup.enter)="goSearch(search.value)"
                    #search
                    class="form-control" 
                    type="text" 
                    placeholder="Search something...">
                    
                    <button type="button"
                    (click)="goSearch(search.value)"
                    ><i class="icon-magnifier"></i></button>
                    
                </div>
            </form>

        </div>

    </header> <!-- End Header Mobile -->
