<app-products-breadcrumb></app-products-breadcrumb>

<!--=====================================
Categories Content
======================================--> 

<div class="container-fuid bg-white my-4">

    <div class="container">

    	<!--=====================================
		Layout Categories
		======================================--> 

	    <div class="ps-layout--shop">
        
	        <section>

				<app-best-sales-item></app-best-sales-item>
				<app-products-recommended></app-products-recommended>
				<app-products-showcase></app-products-showcase>

			</section>

		</div>

	</div>

</div>