<!--=====================================
Nav Account
======================================--> 

<div class="ps-section__content">

    <ul class="ps-section__links">
        <li><a href="/account">My Wishlist</a></li>
        <li class="active"><a href="/account/my-shopping">My Shopping</a></li>
       
        <li
        *ngIf="!is_vendor"
        ><a href="/account/new-store">My Store</a></li>

        <li
        *ngIf="is_vendor"
        ><a href="/account/my-store">My Store</a></li>

        <li
        *ngIf="is_vendor"
        ><a href="account/my-sales">My Sales</a></li>
    </ul>


    <!--=====================================
    My Shopping
    ======================================--> 

    <div class="table-responsive">

        <table class="table ps-table--whishlist dt-responsive" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%">

            <thead>

                <tr>    

                    <th>Date</th>
  
                    <th>Product name</th>

                    <th>Process</th>

                    <th>Price</th>

                    <th>Quantity</th>

                    <th>Review</th>

                </tr>

            </thead>

            <tbody>

            	<tr
                *ngIf="myShopping.length == 0">

					<td colspan="5" class="text-center">You haven't products in your shopping's yet!</td>    

            	</tr>

                <!-- Product -->

                <tr
                *ngFor="let product of myShopping; let i = index">

                    <td>{{product.date | date:"MM/dd/yy" }}</td>

                    <td>

                        <div class="ps-product--cart">

                            <div class="ps-product__thumbnail">

                                <a href="product/{{product.url}}">
                                    <img src="{{path}}img/products/{{product.category}}/{{product.image}}">
                                </a>
                                
                            </div>

                            <div class="ps-product__content">

                                <a href="product/{{product.url}}">{{product.product}}</a>

                            </div>

                        </div>

                    </td>

                    <td>

                        <ul class="timeline">

                        	<!--=====================================
                        	1 Momento: Órden de entrega recibida
                        	======================================-->
       	
                            <li 
							*ngIf="process[i][0].stage == 'reviewed' && process[i][0].status== 'ok'"
                            class="success"> 

                                <h5>{{process[i][0].date | date}}</h5>
                                <p class="text-success">Reviewed <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][0].comment}}</p>
                                
                            </li>

                            <!--=====================================
                        	2 Momento: Cuando se envía el producto
                        	======================================-->

                        	<!-- Cuando el status es ok -->

                        	<li 
							*ngIf="process[i][1].stage == 'sent' && process[i][1].status == 'ok'"
                            class="success"> 

                                <h5>{{process[i][1].date | date}}</h5>
                                <p class="text-success">Sent <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][1].comment}}</p>
                                
                            </li>

                            <!-- Cuando el status es pendiente -->

                            <li 
                            *ngIf="process[i][1].stage == 'sent' && process[i][1].status != 'ok'" 
                            class="process">
                                <h5>{{process[i][1].date | date}}</h5>         
                                <p>Sent</p>
                                <button class="btn btn-primary" disabled>
                                  <span class="spinner-border spinner-border-sm"></span>
                                  In process
                                </button>
                            </li>

                            <!--=====================================
                        	3 Momento: Cuando se entrega el producto
                        	======================================-->

                        	<!-- Cuando el status es ok -->

                        	<li 
							*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'"
                            class="success"> 

                                <h5>{{process[i][1].date | date}}</h5>
                                <p class="text-success">Delivered <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][2].comment}}</p>
                                
                            </li>

                            <!-- Cuando el status es pendiente -->

                            <li 
                            *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                            class="process">
                                <h5>{{process[i][2].date | date}}</h5>         
                                <p>Delivered</p>
                                <button class="btn btn-primary" disabled>
                                  <span class="spinner-border spinner-border-sm"></span>
                                  In process
                                </button>
                            </li>
                           
                        </ul>  
						
					 	<!--=====================================
                    	Apertura de una disputa si el producto aún no ha sido entregado
                    	======================================-->

                        <a 
                        *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                        class="btn btn-danger btn-lg text-white" (click)="newDispute(id_order[i], product.store, product.user)">Open Dispute</a>

                        <!--=====================================
                        Visualizar las disputas
                        ======================================-->

                        <div
                        *ngFor="let dispute of disputes" 
                        class="my-3">

                            <div
                            *ngIf="dispute.order == id_order[i]">
                               
                                <div class="media border p-3">
                                    <div class="media-body">
                                        <h4><small><i>Dispute on {{dispute.date_dispute | date }}</i></small></h4>
                                        <p>{{dispute.message }}</p>
                                    </div>

                                    <img 
                                    *ngIf="dispute.user.method != 'direct'"
                                    src="{{dispute.user.picture}}" alt="John Doe" class="ml-3 mt-3 rounded-circle" style="width:60px;">

                                    <img 
                                    *ngIf="dispute.user.method == 'direct'"
                                    src="{{path}}img/users/{{dispute.user.username}}/{{dispute.user.picture}}" class="ml-3 mt-3 rounded-circle" style="width:60px;">
                                </div>

                                <div 
                                *ngIf="dispute.answer != null"
                                class="media border p-3">

                                    <img src="{{path}}img/stores/{{dispute.store.url}}/{{dispute.store.logo}}" class="ml-3 mt-3 rounded-circle" style="width:60px;">
                                    <div class="media-body text-right">
                                        <h4><small><i>Answer on {{dispute.date_answer | date }}</i></small></h4>
                                        <p>{{dispute.answer }}</p>
                                    </div>

                                </div>
                            </div>

                        </div>
						
						<!--=====================================
                    	Permitimos la recompra si el producto ha sido entregado
                    	======================================-->
                        <a 
						*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'" 
                        class="btn btn-warning btn-lg" href="product/{{product.url}}">Repurchase</a>

                    </td> 

                    <td class="price text-center">${{product.price}}</td>

                    <td class="text-center">{{product.quantity}}</td>

					
					<!--=====================================
                    No permitir escribir comentarios del producto si aún no ha sido entregado
                    ======================================-->

                    <td
                    *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                    >
	                    <div class="text-center  mt-2">
  
                            <a class="btn btn-warning btn-lg disabled">Add comment</a>

                        </div>

                    </td>
                    	
					<!--=====================================
                    Permitir escribir comentarios del producto si ha sido entregado
                    ======================================-->

                    <td
					*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'" 
                    >

                        <div 
                        *ngFor="let item of reviews[i]; let iReview = index; let lastIndexReview = last"
                        class="text-center  mt-2">

                            <div 
                            *ngIf="item.name != undefined && item.name == product.user"
                            class="br-theme-fontawesome-stars">

                                <select class="ps-rating" data-read-only="true" [attr.reviews]="item.review">
                                  
                                </select>

                            </div>             

                        {{ lastIndexReview ? callback(iReview) : ""}}

                        </div>

                        <a class="btn btn-warning btn-lg" (click)="newReview(product.user,product.url)">Add comment</a>

                    </td>

                </tr>

                <!-- Product -->
             
            </tbody>

        </table>

    </div><!-- End My Shopping -->

     <!--=====================================
    Modal para las disputas
    ======================================--> 

    <!-- The Modal -->
    <div class="modal" id="newDispute">

        <div class="modal-dialog">

            <div class="modal-content">

                <form
                (ngSubmit)="onSubmit(f)"
                #f="ngForm">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">New Dispute</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="form-group">

                            <label>Type your message</label>

                            <div class="form-group__content">
                                
                                <textarea 
                                class="form-control" 
                                type="text"
                                name="message"
                                [(ngModel)]="dispute.message"
                                required></textarea>

                            </div>

                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">

                        <div class="float-right">
                            <button type="submit" class="btn btn-warning btn-lg">Send</button>
                        </div>
                       
                    </div>

                </form>


            </div>

        </div>

    </div>

     <!--=====================================
    Modal adicionar reseña
    ======================================--> 

    <!-- The Modal -->
    <div class="modal" id="newReview">

        <div class="modal-dialog">

            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">New Review</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">

                    <div class="br-theme-fontawesome-stars">

                        <select name="review" #review class="ps-rating" data-read-only="false" style="display: none;">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                    </div>

                    <div class="form-group">

                        <label>Type your comment</label>

                        <div class="form-group__content">

                            <textarea 
                            class="form-control" 
                            type="text"
                            name="comment"
                            #comment
                            required></textarea>

                        </div>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <div class="float-right">
                        <button type="button" class="btn btn-warning btn-lg" (click)="submitReview(comment, review)">Send</button>
                    </div>
                   
                </div>

           

            </div>
        </div>
    </div>



</div>

