<!--=====================================
Breadcrumb
======================================-->  

<div class="ps-breadcrumb">

<div class="container">

    <ul class="breadcrumb">

        <li><a routerLink="/">Home</a></li>

        <li><a href="shopping-cart">Shopping cart</a></li>

        <li>Checkout</li>

    </ul>

</div>

</div>


<!--=====================================
Checkout
======================================--> 
<div class="ps-checkout ps-section--shopping">

    <div class="container">

        <div class="ps-section__header">

            <h1>Checkout</h1>

        </div>

        <div class="ps-section__content">

            <form
            (ngSubmit)="onSubmit(f)"
            #f="ngForm" 
            class="ps-form--checkout">

                <div class="row">

                    <div class="col-xl-7 col-lg-8 col-sm-12">

                        <div class="ps-form__billing-info">

                            <h3 class="ps-form__heading">Billing Details</h3>

                            <div class="form-group">

                                <label>Name</label>

                                <div class="form-group__content">

                                    <input 
                                    class="form-control" 
                                    type="text"
                                    name="displayName"
                                    [(ngModel)]="user.displayName"
                                    readonly
                                    required>

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Email Address</label>

                                <div class="form-group__content">

                                    <input 
                                    class="form-control" 
                                    type="email"
                                    name="email"
                                    [(ngModel)]="user.email"
                                    email
                                    readonly
                                    required>

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Country<sup>*</sup></label>

                                <div class="form-group__content">

                                    <select 
									class="form-control" 
									name="country"
									[(ngModel)]="user.country"
									required
									#inputCountry
									(change)="changeCountry(inputCountry)"
                                    >
                                    <option
									*ngFor="let country of countries"
                                    [value]="country.name">{{country.name}}</option>	


                                    </select>

                                    <div 
                                    *ngIf="f.submitted && f.controls['country'].errors"
                                    class="text-danger">Please fill out this field.</div>

                                </div>

                            </div>

                             <div class="form-group">

                                <label>City<sup>*</sup></label>

                                <div class="form-group__content">

                                    <input 
                                    class="form-control" 
                                    type="text"
                                    name="city"
                                    [(ngModel)]="user.city"
                                    required
                                    #inputCity
                                    >

                                    <div 
                                    *ngIf="f.submitted && f.controls['city'].errors"
                                    class="text-danger">Please fill out this field.</div>


                                </div>

                            </div>

                            <div class="form-group">

                                <label>Phone<sup>*</sup></label>

                                <div class="form-group__content input-group">

                                	<div class="input-group-append">
                                		<span class="input-group-text">{{dialCode}}</span>
                                	</div>

                                    <input 
                                    class="form-control" 
                                    type="text"
                                    name="phone"
                                    [(ngModel)]="user.phone"
                                    required
                                    #inputPhone
                                    >

                                    <div 
                                    *ngIf="f.submitted && f.controls['phone'].errors"
                                    class="text-danger">Please fill out this field.</div>


                                </div>

                            </div>

                            <div class="form-group">

                                <label>Address<sup>*</sup></label>

                                <div class="form-group__content">

                                    <input 
                                    class="form-control" 
                                    type="text"
                                    name="address"
                                    [(ngModel)]="user.address"
                                    required
                                    #inputAddress
                                    >

                                    <div 
                                    *ngIf="f.submitted && f.controls['address'].errors"
                                    class="text-danger">Please fill out this field.</div>


                                </div>

                            </div>

                            <div class="form-group">

                                <div class="ps-checkbox">

                                    <input 
                                    class="form-control" 
                                    type="checkbox" 
                                    id="create-account"
                                    name="saveAddress"
                                    [(ngModel)]="saveAddress"
                                    #inputSaveAddress
                                    (change)="saveAddressFnc(inputCountry, inputCity, inputPhone, inputAddress, inputSaveAddress)">

                                    <label for="create-account">Save address?</label>

                                </div>

                            </div>

                            <h3 class="mt-40"> Addition information</h3>

                            <div class="form-group">

                                <label>Order Notes</label>

                                <div class="form-group__content">

                                    <textarea 
                                    class="form-control" 
                                    rows="7" 
                                    placeholder="Notes about your order, e.g. special notes for delivery."
                                    name="addInfo"
                                    [(ngModel)]="addInfo"></textarea>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-4 col-sm-12">

                        <div class="ps-form__total">

                            <h3 class="ps-form__heading">Your Order</h3>

                            <div class="content">

                                <div class="ps-block--checkout-total">

                                    <div class="ps-block__header d-flex justify-content-between">

                                        <p>Product</p>

                                        <p>Total</p>

                                    </div>

                                    <div class="ps-block__content">

                                        <table class="table ps-block__products">

                                            <tbody>

                                                <tr
												*ngFor="let product of shoppingCart; let lastIndex = last"
                                                >

                                                    <td>
                                                        <a href="product/{{product.url}}"> {{product.name}}</a>
                                                        <div [innerHTML]="product.details"></div>
                                                        <div class="small text-secondary">Quantity:
															<span class="qCheckout">{{product.quantity}}</span>
                                                        </div>
                                                        <div class="d-none sCheckout">{{product.shipping}}</div>
                                                    </td>

                                                    <td class="text-right ps-product">
                                                    	<div class="d-none pCheckout" [innerHTML]="product.price"></div>
                                                    	<div class="subTotalPriceCheckout"><div class="spinner-border"></div></div>

                                                    </td>

                                                {{ lastIndex ? callback() : ""}}

                                                </tr>  

                                            </tbody>

                                        </table>
                                        
                                        <div [innerHTML]="totalP"></div>

                                    </div>

                                </div>

                                <hr class="py-3">

                                <h3 class="ps-form__heading">Select Pay Method</h3>

                                <div 
                                *ngIf="f.submitted && f.controls['paymentMethod'].errors"
                                class="text-danger">Please select pay method.</div>

                                <div class="form-group">

                                    <div class="ps-radio">

                                        <input 
                                        class="form-control" 
                                        type="radio" 
                                        id="pay-paypal" 
                                        name="paymentMethod" 
                                        [(ngModel)]="paymentMethod"
                                        value="paypal" 
                                        required>

                                        <label for="pay-paypal">Pay with Paypal?  <span><img src="{{path}}img/payment-method/paypal.jpg" class="w-50"></span></label>

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="ps-radio">

                                        <input 
                                        class="form-control" 
                                        type="radio" 
                                        id="pay-payu" 
                                        name="paymentMethod" 
                                        [(ngModel)]="paymentMethod" 
                                        value="payu"
                                        required>

                                        <label for="pay-payu">Pay with Payu? <span><img src="{{path}}img/payment-method/payu.jpg" class="w-50"></span></label>

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="ps-radio">

                                        <input 
                                        class="form-control" 
                                        type="radio" 
                                        id="pay-mercadopago" 
                                        name="paymentMethod" 
                                        [(ngModel)]="paymentMethod"
                                        value="mercado-pago"
                                        required>

                                        <label for="pay-mercadopago">Pay with Mercado Pago? <span><img src="{{path}}img/payment-method/mercado_pago.jpg" class="w-50"></span></label>

                                    </div>

                                </div>

                                <button type="submit" class="ps-btn ps-btn--fullwidth">Proceed to checkout</button>

                            </div>

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>
